*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

.page {
  display: flex;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
  inline-size: 1200px;
  block-size: 100%;
  margin: auto;
  color: #fff;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  background-color: #1b1919;
}

.search-form__fieldset-title {
  font-size: inherit;
  line-height: inherit;
  color: #fff;
  font-weight: inherit;
  padding-bottom: 4px;
}

.title {
  width: 65.3%;
  font-family: Oswald, sans-serif;
  font-size: 75px;
  line-height: 70.6px;
  letter-spacing: -0.5px;
  padding-top: 6px;
  text-transform: uppercase;
  color: #fff;
}

.content__accent {
  font-family: Oswald, sans-serif;
  color: #545050;
}

.content {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  gap: 30px;
  width: 95%;
  padding-bottom: 99px;
}

.content__list-item {
  padding-left: 3px;
  padding-right: 3px;
  width: 100%;
  height: 100%;
}

.result {
  display: flex;
  flex-direction: column;
  padding-top: 73px;
  gap: 10px;
  width: 100%;
  justify-content: flex-start;
}

.result__video-container {
  position: relative;
  width: 99.94%;
  margin-bottom: 1px;
}

.result__video {
  width: 100%;
  object-fit: cover;
  object-position: center;
  max-height: 393px;
  padding-top: 7px;
}

.search-form {
  display: flex;
  gap: 20px;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
}

.search-form__checkbox-list {
  display: flex;
  flex-direction: row;
  gap: 15px;
}

.search-form__fieldset {
  cursor: pointer;
  border: none;
}

.search-form__label {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5px;
  width: fit-content;
  outline: transparent;
}

.content__details {
  display: flex;
  flex-direction: column;
  gap: 22px;
  width: 56%;
  min-width: 0;
  padding-left: 2px;
}

.content__list-container {
  position: relative;
  overflow: auto;
  width: 100%;
  height: 298px;
  padding-bottom: 5px;
}

.content__list {
  display: flex;
  flex-direction: column;
  gap: 30px;
  width: 100%;
}

.content__video-card-title {
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  font-family: Oswald, sans-serif;
  font-size: 30px;
  line-height: 100%;
  text-transform: uppercase;
  color: #fff;
}

.content__video-card-description {
  width: 92.4%;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
  font-size: 18px;
  line-height: 16px;
  padding-top: 5px;
  letter-spacing: -0.1px;
}

.content__video-card {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  width: 100%;
}

.content__video-card-thumbnail {
  min-height: 103px;
  width: 46%;
  object-fit: cover;
  object-position: top right;
}

.content__video-card-description-container {
  flex-grow: 1;
  width: 46%;
}

.visually-hidden {
  position: absolute;
  inline-size: 1px;
  block-size: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  white-space: nowrap;
}

.search-form__textfield {
  width: 225px;
  font: inherit;
  color: #fff;
  background-color: transparent;
  border: 1px solid currentColor;
  border-right: none;
  border-left: none;
  appearance: none;
  line-height: 22px;
  outline: transparent;
  letter-spacing: -0.2px;
}

.search-form__textfield::placeholder {
  color: rgb(255 255 255 / 0.7);
}

.button {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  width: 27.3%;
  min-height: 34px;
  border: 1px solid #fff;
  background-color: transparent;
  cursor: pointer;
}

.content__card-link {
  display: block;
  background-color: transparent;
  cursor: pointer;
  text-decoration: none;
  color: #fff;
}

.search-form__label:hover :not(.search-form__textfield),
.button:hover,
.content__card-link:hover {
  text-decoration: underline;
}

.button:active,
.content__card-link:active {
  background-color: #545050;
}

.search-form__label:has(:focus),
.button:focus,
.content__video-card:focus {
  outline-color: transparent;
  outline-offset: 0;
}

.search-form__label:has(:focus-visible),
.button:focus-visible,
.content__video-card:focus-visible {
  outline: 1px solid #fff;
  outline-offset: 1px;
}

.search-form__pseudo-checkbox {
  display: inline-block;
  width: 19px;
  height: 19px;
  border: 1px solid #fff;
  padding: 1px;
  cursor: pointer;
}

.search-form__pseudo-checkbox::after {
  content: '';
  display: block;
  width: 100%;
  height: 100%;
  background-color: #fff;
  opacity: 0;
  transition: opacity 0.2s;
}

.search-form__checkbox:checked + .search-form__pseudo-checkbox::after {
  opacity: 1;
}

.search-form__submit-button {
  align-self: flex-end;
}

.more-button {
  margin-top: 30px;
  width: 100%;
}

.content__card-link_current {
  background-color: #545050;
}

/* Кастомный скроллбар */

.custom-scrollbar::-webkit-scrollbar {
  width: 4px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: rgb(217 217 217 / 0.1);
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #d9d9d9;
}
